@{
    ViewBag.Title = "Hall of Fame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hall of Fame</h2>
<table>
	<tr>
		<th>IYFD</th>
		<th>WINNNER</th>
		<th>NCAA CHAMP</th>
	</tr>
	<tr>
		<td>2013</td>
		<td>Lois Black</td>
		<td>Louisville</td>
	</tr>
	<tr>
		<td>2012</td>
		<td>Misty Lydon</td>
		<td>Kentucky</td>
	</tr>
	<tr>
		<td>2011</td>
		<td>Jefferson Reese</td>
		<td>UCONN</td>
	</tr>
	<tr>
		<td>2010</td>
		<td>(tie) Tyler Volluz <br/><br/> Veronica Holton</td>
		<td>Duke</td>
	</tr>
	<tr>
		<td>2009</td>
		<td>(tie) Jason Pastrano <br/><br/> John Millice</td>
		<td>N. Carolina</td>
	</tr>
	<tr>
		<td>2008</td>
		<td>(tie) Jim Lydon <br/><br/> Andy Jones <br/><br/> Jeff Robinson</td>
		<td>Kansas</td>
	</tr>
	<tr>
		<td>2007</td>
		<td>Gil Pappas</td>
		<td>Florida </td>
	</tr>
	<tr>
		<td>2006</td>
		<td>Ed Eckhart</td>
		<td>Florida</td>
	</tr>
	<tr>
		<td>2005</td>
		<td>Ed Eckhart</td>
		<td>N. Carolina </td>
	</tr>
	<tr>
		<td>2004</td>
		<td>Wayno Bueno</td>
		<td>UCONN</td>
	</tr>
	<tr>
		<td>2003</td>
		<td>Bob Dover</td>
		<td>Syracuse</td>
	</tr>
	<tr>
		<td>2002</td>
		<td>(tie) Big Bass Mama <br/><br/> Joe Hibbs</td>
		<td>Maryland</td>
	</tr>
	<tr>
		<td>2001</td>
		<td>Danny Lydon</td>
		<td>Duke</td>
	</tr>
	<tr>
		<td>2000</td>
		<td>(tie) Lisa Hughes <br/><br/> Byron Luke</td>
		<td>Mich. St.</td>
	</tr>
	<tr>
		<td>1999</td>
		<td>Maggie Digneo</td>
		<td>UCONN</td>
	</tr>
	<tr>
		<td>1998</td>
		<td>(tie) Jim Cowan <br/><br/> Tom Landers</td>
		<td>Kentucky</td>
	</tr>
	<tr>
		<td>1997</td>
		<td>Mike Grogan</td>
		<td>Arizona</td>
	</tr>
	<tr>
		<td>1996</td>
		<td>Ed Eckhart</td>
		<td>Kentucky</td>
	</tr>
	<tr>
		<td>1995</td>
		<td>Jerry Gordon</td>
		<td>UCLA</td>
	</tr>
	<tr>
		<td>1994</td>
		<td>Marsha Lindsey</td>
		<td>Arkansas</td>
	</tr>
	<tr>
		<td>1993</td>
		<td>NO IYFD</td>
	</tr>
	<tr>
		<td>1992</td>
		<td>Rick Hainline</td>
		<td>Duke</td>
	</tr>
	<tr>
		<td>1991</td>
		<td>(tie) Brandon Parrott <br/><br/> Gene Regan</td>
		<td>Duke</td>
	</tr>
	<tr>
		<td>1990</td>
		<td>Marsha Lindsey</td>
		<td>UNLV </td>
	</tr>
	<tr>
		<td>1989</td>
		<td>Brad Parrott</td>
		<td>Michigan</td>
	</tr>
	<tr>
		<td>1988</td>
		<td>(tie) Brad Parrott <br/><br/> George Chaffee</td>
		<td>Kansas</td>
	</tr>
	<tr>
		<td>1987</td>
		<td>Bob Digneo</td>
		<td>Indiana</td>
	</tr>
	<tr>
		<td>1986</td>
		<td>Jamie Anderson</td>
		<td>Louisville </td>
	</tr>
	<tr>
		<td>1985</td>
		<td>Jeff Coy</td>
		<td>Villanova</td>
	</tr>
	<tr>
		<td>1984</td>
		<td>Gary Harrison</td>
		<td>Georgetown</td>
	</tr>
	<tr>
		<td>1983</td>
		<td>Jeff Coy</td>
		<td>NC State</td>
	</tr>
	<tr>
		<td>1982</td>
		<td>Larry Schnieders</td>
		<td>N. Carolina</td>
	</tr>
	<tr>
		<td>1981</td>
		<td>Jim Pottorf</td>
		<td>Indiana</td>
	</tr>
</table>
